<div class="row-fluid">
    <div class="span3">

        Search: <br>
        <input ng-model="query"> 
        <br>
        Sort by: <br>
        <select ng-model="orderProp">
            <option value="title">title</option>
            <option value="status_id">status</option>
            <option value="priority_id">priority</option>
            <option value="type_id">type</option>
            <option value="description">description</option>
        </select>

    </div>
    <div class="span9">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in tickets | filter:query | orderBy:orderProp">
                    <td><b>{{ticket.id}}</b></td>
                    <td><b>{{ticket.title}}</b></td>
                    <td>{{ticket.type}}</td>
                    <td>{{ticket.status}}</td>
                    <td>{{ticket.priority}}</td>
                    <td>
                        <a ng-repeat="role in user.role" >{{role}}</a> 
                        <a href="#" bs-modal="'partials/modal/cancel.html'" backdrop="fixed"><i class="icon-eye-open"></i> View</a>&nbsp;&nbsp;&nbsp;
                        <a href="#/ticket/{{ticket.id}}"><i class="icon-eye-open"></i> View</a>&nbsp;&nbsp;&nbsp;
                        <a href="#/ticket/{{ticket.id}}/edit"><i class="icon-edit"></i> Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>