.tw-box {
    border: 2px #eee solid;
    border-radius: 6px;
    padding: 10px;
    margin-top: 70px;
}

.tw-login-form {
    margin: 40px;
}

#tw-loading { 
    position: absolute; 
    left: 46%; top: 0px; 
    display: none; 
    background: gold; 
    padding: 3px 20px; 
    font-weight: bold; 
    border-bottom-right-radius: 7px; 
    border-bottom-left-radius: 7px;
}