<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Modal header</h3>
</div>
<div class="modal-body">
    <h1>Title: {{ticket.title}}</h1>
    <p>Type: {{ticket.type}}</p>
    <p>Status: {{ticket.status}}</p>
    <p>Priority: {{ticket.priority}}</p>
    <p>Description: {{ticket.description}}</p>
</div>
<div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Cancel ticket</a>
</div>